#player1 {
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 20px;
}

#player2 {
    background-color: yellow;
    height: 50px;
    width: 50px;
    margin: 20px;
}

#gameboard1 {
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 20px;
}

#gameboard1 {
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 20px;
}

}